# Python
__pycache__/
*.pyc
.env
venv/

# Node.js
node_modules/
.next/
npm-debug.log
build/
dist/
.env.local

.cline/
.cline/handoff.json
.clinerules/
.documents/
.documents/instructions/

# AI Model
webui_models/
